#===========================================================================
# Directories for temporary data
#===========================================================================

# specify a temporary directory where data can be stored
master_tmp_dir= input_MASTER

# direcotry on the node
tmp_node_dir = input_NODE

###########################################################################
#================
#Cluster platform
#================

#----------------
#       SGE
#----------------

#name of cluster platform
cluster_platform = SGE

# command to submit to cluster
cluster_submit = qsub

#submit paramter to redirect standard out
cluster_submit_out = -o

#submit paramter to redirect standard error
cluster_submit_error = -e

# command to specify queue
queue_param = -q

# command to specify memory requirements
mem_param = -l

# job accounting
cluster_acct = qacct

# parameter for user select
cluster_qacct_us = -o

#cluster_qstat = qstat

#cluster_qstat_user_param = -u

# job parameter
cluster_js = -j

###########################################################################


